*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, Helvetica, sans-serif;
    /* Convierte el contenedor en un contenedor flexible*/
    display: flex;
    /*Acomoda los elementos en columna*/
    flex-direction: column;
    /*centra los elementos*/
    justify-content: center;  
    
}
.container{
    width: 100%;
        /* Convierte el contenedor en un contenedor flexible*/
    display: flex;
        /*Acomoda los elementos en fila*/
    flex-direction: row;
    /*Centra los elementos*/
    justify-content: flex-start;
    
    /*Permite que las tarjetas pasen a la siguie linea si no hay suficiente espacio*/
    flex-wrap: nowrap;
    /*Colocar un espacio entre las cajas*/
    gap: 20px;
}
.card{
    background-color: #ffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    height: 150px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
}
h1{
    padding: 20px;
}